<!DOCTYPE html>
    <html lang="en">
    <%- include('./elements/head') %>
    <body>
        <%- include('./elements/header') %>
        
        <main class="main">
            <div class="main-container">
                <%- body %>
            </div>
        </main>

        <%- include('./elements/footer') %>
    </body>
</html>